.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  aside {
    background-color: rgb(38, 81, 66);
    opacity: 0.5;
    height: 100vh;
    width: 300px;
  }
  h2{
    color: red;
  }
  input[type="file"] {
    margin-left: 1.875rem;
    width: 100%;
  }
  img {
    width: 300px !important;
  }
}
